/* Some Colors */
$tan:         #E9F1DF;
$orange:      #F5A503;
$light-blue:  #4AD9D9;
$dark-blue:   #36B1BF;
$brown:       #433547;
$pink:        #F2385A;
$white:       #FFF;

html {
  font-size: 62.5%;
  font-family: "proxima-nova",sans-serif;
  font-size: 62.5%;
}

body {
  background: $tan;
  padding: 15px;
}

.block {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.content {
  background: $white;
  padding: 15px;
  margin-bottom: 15px;
}

a {
  color: $brown;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  background-color: $pink;
  color: $white;
  font-style: italic;
  font-weight: 100;
  font-size: 4rem;
  &.contact {
    background: $orange;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}

h2 {
  background-color: $light-blue;
  color: $white;
  font-style: italic;
  font-weight: 100;
  font-size: 3em;
}

h3 {
  background-color: $dark-blue;
  color: $white;
  font-style: italic;
  font-weight: 100;
  font-size: 2em;
  &.skills {
    background-color: #F2385A;
  }
}

h1, h2, h3 {
  margin: 0 0 0 0;
  padding: 10px;
}

p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

span {
  &.tag_line {
    font-size: 2rem;
  }
  &.date {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
  }
}